<div class="bgcolor4 t0 w-100 color-white">
	<app-navbar></app-navbar>
</div>
<div class="home-pad4" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vw">
	<img src="/assets/images/handshake.png" class="w-25">
	<div class="title CBold t10"> Submission Successful !</div>
	<div class="content w-75 CR center">Lorem Ipsum est un générateur de faux textes aléatoires. Vous choisissez le nombre de paragraphes, de mots ou de listes. Vous obtenez alors un texte aléatoire que vous</div>
	<div class="action"><button mat-button class="bgcolor3 rounded btn-pad">Back to home</button>
	</div>
</div>