.h-auto {
  height: auto !important
}

.h-0 {
  height: 0 !important;
}

.h-15 {
  height: 15% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.h-3vw {
  height: 3vw !important;
}

.h-2vw {
  height: 2vw !important;
}

.h-1vw {
  height: 1vw !important;
}

.h-4vw {
  height: 4vw !important;
}

.h-5vw {
  height: 5vw !important;
}

.h-vw {
  height: 5vw !important;
}

.h-8vw {
  height: 8vw !important;
}

.h-20vw {
  height: 20vw !important;
}

.h-13vw {
  height: 13vw;
}

.h-15vw {
  height: 15vw !important;
}

.h-10vw {
  height: 10vw !important;
}

.h-6vw {
  height: 6vw !important;
}
.h-1-5rem{
  height: 1.5rem !important;
}
