.mat-mdc-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: auto !important;
  min-height: 36px !important;
}
.mat-mdc-button[disabled]{
  opacity: 0.5 !important;
}
.mat-drawer {
  background-color: #4a148c !important;
  color: white !important;
}
 .mat-mdc-form-field-subscript-wrapper {
   display: none !important;
 }
.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--color2)  !important;;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: var(--color1) !important;
}
.mdc-text-field--focused .mdc-notched-outline__leading , .mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--focused .mdc-notched-outline__trailing{
  border-width: 1px !important;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 20px !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px !important ;
  padding-bottom: 10px !important;
}
.mat-mdc-form-field-infix {
  min-height: 40px !important;
}
mat-label{
  z-index: 2;
}
.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  font-size: inherit !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  --mat-mdc-form-field-label-transform: translateY( -29.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;
  transform: var(--mat-mdc-form-field-label-transform) !important;
}
