@media (max-width: 959px) {
    @media (orientation: portrait) {
        .w-25{
            width: 90% !important;
        }
        .home-dash {
            padding: 5vw 8vw !important;
        }
        .pdg-3 {
            padding: 0vw 5vw !important;
        }
    }
}
