.home-pad {
  padding:2vw 10vw !important;
}

.home-pad2 {
  padding: 3vw 20vw !important;
}
.home-resp{
  padding: 5vw !important;
}
.home-pad3 {
  padding: 3vw 15vw !important;
}
.home-pad4 {
  padding: 5vw 10vw !important;
}
.home-pad5 {
  padding: 10vw 10vw !important;
}
.pdg0 {
  padding: 0 !important;
}

.pdg1vw {
  padding: 1vw !important;
}

.pdg2vw {
  padding: 2vw !important;
}

.pdg05vw {
  padding: 0.5vw !important;
}

.plr-1vw {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

.pr-1vw {
  padding-right: 1vw !important;
}

.pdg025vw {
  padding: 0.25vw !important;
}

.plr-2vw {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}

.plr-3vw {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

.plr-5vw {
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}

.plr-10vw {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

.plr-15vw {
  padding-left: 15vw !important;
  padding-right: 15vw !important;
}

.plr-20vw {
  padding-left: 20vw !important;
  padding-right: 20vw !important;
}

.ptb-05vw {
  padding-top: 0.5vw !important;
  padding-bottom: 0.5vw !important;
}

.ptb-025vw {
  padding-top: 0.25vw !important;
  padding-bottom: 0.25vw !important;
}

.ptb-1vw {
  padding-top: 1vw !important;
  padding-bottom: 1vw !important;
}
.ptb-2vw {
  padding-top: 2vw !important;
  padding-bottom: 2vw !important;
}

.ptb-3vw {
  padding-top: 3vw !important;
  padding-bottom: 3vw !important;
}

.ptb-5vw {
  padding-top: 5vw !important;
  padding-bottom: 5vw !important;
}

.ptb-10vw {
  padding-top: 10vw !important;
  padding-bottom: 10vw !important;
}

.pt-0vw {
  padding-top: 0vw !important;
}

.pt-3vw {
  padding-top: 3vw;
}

.pb-3vw {
  padding-bottom: 3vw;
}

.pt-10vw {
  padding-top: 10vw;
}

.pt-5vw {
  padding-top: 5vw;
}

.pb-5vw {
  padding-bottom: 5vw !important;
}

.pb-10vw {
  padding-bottom: 10vw !important;
}

.pb-1vw {
  padding-bottom: 1vw;
}

.plr-20vw {
  padding-left: 20vw !important;
  padding-right: 20vw !important;
}
.pl-10vw {
  padding-left: 10vw !important;
}
.pl-1vw {
  padding-left: 1vw !important;
}

.pr-20vw {
  padding-right: 20vw !important;
}

.pb {
  padding-bottom: 3vw;
}
.btn-pad{
  padding: 0.75vmax 3vmax !important;
}
